{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
	<div class="form">

        <h1 style="align-self: center; font-size: 50px">Change Password</h1>

        <form action="{% url 'change-password-user' %}" method="post">

            {% csrf_token %}
            {{ form.as_p }}

            <div style="align-self: center" class="buttons">

                <button type="submit">Change Password</button>

            </div>


        </form>

    </div>
{% endblock %}