{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/shopping_cart_products.css' %}">
{% endblock %}

{% block content %}

    <div class="products">
        <h1>Products</h1>
        <form class="products" action="{% url 'create-order' %}" method="post" id="order-form">
            {% csrf_token %}
            {% for product, form in products_and_forms.items %}
                <div class="product">

                    <img src="{{ MEDIA_URL }}{{ product.productpicture_set.first.picture.url }}"
                         alt="{{ product.name }}">

                    <div class="texts">

                        <p>{{ product.name }}</p>
                        <p class="price">{{ product.price }}</p>

                    </div>

                    <div class="quantity-form">
                        {{ form.as_p }}
                    </div>

                </div>

            {% endfor %}
            <div id="total-sum">Total: 0 lv.</div>
            <button class="order-button" type="submit">Confirm Order</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('order-form');
            var quantityInputs = form.querySelectorAll('input[type="number"]');
            var priceElements = document.querySelectorAll('.price');
            var totalSumDisplay = document.getElementById('total-sum');
            
            calculateTotalSum();

            quantityInputs.forEach(function (input) {
                input.addEventListener('change', calculateTotalSum);
                input.addEventListener('input', enforceMinimum);
            });
            
            function calculateTotalSum() {
                var totalSum = 0;
                quantityInputs.forEach(function (input, index) {
                    var price = parseFloat(priceElements[index].textContent);
                    var quantity = parseInt(input.value);
                    if (!isNaN(quantity) && quantity > 0) { // Check if quantity is a valid number and greater than 0
                        totalSum += price * quantity;
                    }
                });
                totalSumDisplay.textContent = 'Total: ' + totalSum.toFixed(2) + ' lv.';
            }
            
            function enforceMinimum() {
                if (parseInt(this.value) < 1) {
                    this.value = 1;
                }
            }
        });
    </script>

{% endblock %}
